body {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size: 70%;
}

#formant-values {
	width: 100%;
	height: 15em;
	margin-top: 1em;
}

#control-panel {
	float: right;
	width: 40em;
}

#canvas-holder {
	width: 50%;
}
    
.draggable {
    cursor: move;
}
    
.ui-accordion-content {
    height: 5em;   
}

label {
	display: block;
	float: left;
	width: 8em;
	text-align: right;
	padding-right: 0.5em;
}

input[type="number"] {
	width: 4em;
}

#accordion > .ui-accordion-content {
	padding-left: 0px;
}

#download-form {
	margin-top: 1em;
}

#generate-button {
	float: right;
}

.custom-qtip {
	font-size: 150%;
}
